

@font-face {
    font-family: 'Inter';
    src:url('../fonts/Inter.ttf?-kwf309');
    src:url('../fonts/Inter.ttf?#iefix-kwf309') format('embedded-opentype'),
      url('../fonts/Inter.ttf?-kwf309') format('woff'),
      url('../fonts/Inter.ttf?-kwf309') format('truetype'),
      url('../fonts/Inter.ttf?-kwf309#AA-Arial') format('svg');
    font-weight: normal;
    font-style: normal;
  }  


  @font-face {
    font-family: 'Inter-Bold';
    src:url('../fonts/Inter-Bold.ttf?-kwf309');
    src:url('../fonts/Inter-Bold-ttf.eot?#iefix-kwf309') format('embedded-opentype'),
      url('../fonts/Inter-Bold.ttf?-kwf309') format('woff'),
      url('../fonts/Inter-Bold.ttf?-kwf309') format('truetype'),
      url('../fonts/Inter-Bold.svg?-kwf309#AA-Arial') format('svg');
    font-weight: normal;
    font-style: normal;
  } 

  @font-face {
    font-family: 'Inter-Medium';
    src:url('../fonts/Inter-Medium.ttf?-kwf309');
    src:url('../fonts/Inter-Medium-ttf.eot?#iefix-kwf309') format('embedded-opentype'),
      url('../fonts/Inter-Medium.ttf?-kwf309') format('woff'),
      url('../fonts/Inter-Medium.ttf?-kwf309') format('truetype'),
      url('../fonts/Inter-Medium.svg?-kwf309#AA-Arial') format('svg');
    font-weight: normal;
    font-style: normal;
  } 
  
  

  .row {
    padding: 0;
    margin: 0;
  }
  
  body {
    color: #fff;
    font-size: 16px;
    margin: 0;
    background-color: #171717;;
    letter-spacing: 1px;
    font-family: 'Inter';
  }
  
  *, ::after, ::before {
      box-sizing: border-box;
  }
  
  a {color: #fff;text-decoration: none;}
  a:hover {color: #fff;}
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .clear {clear:both;}
  
  
  button {
    border:none;
    background: none;
    box-shadow: unset;
    
  }
  
  button:focus {
    outline: none;
    box-shadow: unset;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  header {
    padding: 30px 0 5px;
    background-color: #fff;
  }
  
  
  
  
  footer {
  
  }
  
  /*-------------------*/
  
  section.refer-bl {
      margin: 40px auto 10px;
      width: 823px;
  }
  
  .refer-tit {
      display: flex;
      align-items: center;
      margin: 0 0 25px;
      position: relative;
      justify-content: center;
  }
  
  .refer-araw-back {
      position: relative;
  }
  
  a.refer-araw-back {
      display: inline-block;
      cursor: pointer;
      background: url(../images/Vector.png)2px 3px no-repeat;
      width: 80px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 6px;
      padding: 0 0 0 20px;
      font-style: normal;
      font-family: 'Inter-Medium';
      font-size: 14px;
      line-height: 25px;
  }
  
  .refer-tit-is {
      font-family: 'Inter';
      font-style: normal;
      font-family: 'Inter-Bold';
      font-size: 32px;
      line-height: 36px;
      margin: 0 0 0 0px;
  }
  
  .rewords-bl {
      background: #252525;
      border-radius: 12px;
      padding: 26px 24px;
      margin: 0 0 40px;
  }
  
  .rewords-tit {
      width: 270px;
      position: relative;
      font-style: normal;
      font-family: 'Inter-Medium';
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      padding: 7px 0 0 60px;
      margin: 0 auto 20px;
      background: url(../images/ist-1.svg)left top no-repeat;
  }
  
  .rewords-text {
      font-family: 'Inter';
      font-style: normal;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin: 0 0 25px;
  }
  
  /*-------------drop------------*/
  
  .js-dropdown {
    position: relative;
  }
  
  a.js-dropdown__item:hover {
    text-decoration: none;
  }
  
  [class*="btns-"],
  .js-dropdown .js-dropdown__slider {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  }
  
  [class*="btns-"] {
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    vertical-align: bottom;
    white-space: nowrap;
    line-height: normal;

    cursor: pointer;
    padding: 11px;
    background: rgba(44, 44, 46, 0.8);
    border-radius: 6px;
  }
  
  .btns-text {
    color: #fab800;
    background: transparent;
  }
  
  .js-dropdown .js-dropdown__slider {
    position: absolute;
  }
  
  .js-dropdown .js-dropdown__slider {
      border-radius: 3px;
      left: 0;
      top: 100%;
      margin-top: 0.28571em;
      padding: 0.14286em 0.71429em;
      visibility: hidden;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      -webkit-transition-property: all;
      transition-property: all;
      zoom: 1;
      filter: alpha(opacity=0);
      opacity: 0;
  }
  
  .js-dropdown.is-active .js-dropdown__slider {
      z-index: 999;
      width: 78%;
      visibility: visible;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      zoom: 1;
      filter: alpha(opacity=100);
      opacity: 1;
      background: #3E3E42;
      box-shadow: 0px 24px 35px rgba(23, 23, 23, 0.4);
      border-radius: 16px;
  }
  
  .js-dropdown .js-dropdown__item {
      display: block;
  }
  
  .js-dropdown .js-dropdown__item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px;
  }
  
  span.usd-bl {
      display: flex;
      flex-wrap: wrap;
      text-align: right;
      width: 35%;
  }
  
  span.drop-tit {
      position: relative;
      display: flex;
      align-items: center;
      background: url(../images/coin.svg)0 top no-repeat;
      font-size: 14px;
      padding: 0px 0 0px 52px;
      height: 42px;
  }
  
  span.usd-tit {
      width: 100%;
  }
  
  span.usd-tit-is {
      width: 100%;
  }
  
  a.js-dropdown__toggle.js-dropdown__icon.btns-default {
      display: flex;
      width: 425px;
  }
  
  span.drop-tit:before {
      /* position: absolute; */
      /* right: -42px; */
      /* top: 20px; */
      /* content: ''; */
      background: url(../images/arrow.png)left top no-repeat;
      width: 20px;
      height: 20px;
  }
  
  span.js-dropdown.is-active a.js-dropdown__toggle.js-dropdown__icon.btns-default span.drop-tit:before{
      position: absolute;
      right: -42px;
      top: 20px;
      content: '';
       background:url(../images/arrow-t.png)right top no-repeat;
      width: 20px;
      height: 20px;
  }
  
  span.drop-tit.is:before {
      background: none;
  }
  
  span.usd-tit {

font-size: 14px;

/* line-height: 18px; */

margin: 5px 0 0 0;
}
  
  span.usd-tit-is {
     
font-size: 12px;
     
/* line-height: 16px; */
     
color: #AEAEB2;
  }
  
  form.drop-serch input[type="search"] {
      background: url(../images/serch.png)13px 12px no-repeat rgba(44, 44, 46, 0.8);
      border-radius: 6px;
      border: 1px transparent;
      padding: 0 0 0 45px;
      color: #fff;
      width:100%;
      height: 48px;
      margin: 20px 0 34px;
      font-size: 14px;
      /* z-index: -1; */
      position: relative;
  }
  
  form.drop-serch {
      position: relative;
      margin: 0;
      padding: 0;
      text-align: left;
      /* z-index: -1; */
      width: 100%;
  }
  
  form.drop-serch input[type="search"]:focus-visible {
     /* border: 1px solid transparent; */
     box-shadow: none;
     outline: aliceblue;
  }
  
  form.drop-serch input[type="search"]:active {
     border: 1px transparent;
  }
  
  .dropdwn-tit-is {
      text-transform: uppercase;
      font-family: 'Inter-Bold';
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 10px 10px;
      color: #77797D;
  }
  
  /*------------left-drop-d---------*/
  
  .refer-drop {
      display: flex;
      justify-content: space-between;
      margin: 0 0 25px;
  }
  
  .refer-drop-left {
  margin: 0px 5px;
  width: 322px;
  }
  
  .refer-linck a{
    display: inline-block;
    background: url(../images/icons-top.svg)276px center no-repeat rgba(44, 44, 46, 0.8);
    border-radius: 6px;
    padding: 21px 43px 25px 16px;
    font-family: 'Inter-Medium';
    font-size: 16px;
    width: 322px;
    text-align: left;
  }
  
  .refer-linck a:hover{
    text-decoration: none;
  }
  
  .refer-bot {
      text-align: center;
  }
  
  .refer-bot a {
      background: #54BCFF;
      border-radius: 6px;
      width: 343px;
      height: 56px;
      display: inline-block;
      font-family: 'Inter-Medium';
      font-size: 16px;
      line-height: 56px;
  }
  
  .refer-bot a:hover{
      text-decoration:none;
      opacity:0.9;
  }
  
  /*---------refer-programs --------------*/
  
  section.refer-programs {
      position: relative;
      margin: 35px auto 35px;
      width: 798px;
      height: 580px;
      background: url(../images/frame.png)left top no-repeat;
      background-size: contain;
      padding: 25px;
  }
  
  .icon-program {
      position: absolute;
      left: 343px;
      top: 128px;
  }
  
  .refer-prog-text {
      margin: 350px 0 30px 0;
  }
  
  .refer-prog-tit {
    font-family: 'Inter-Bold';
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .refer-prog-text-is {

      font-size: 14px;
  }
  
  .refer-programs-but {
      text-align: center;
  }
  
  .refer-programs-but a {
      position: relative;
      background: #54BCFF;
      border-radius: 6px;
      width: 328px;
      height: 56px;
      display: inline-block;
      line-height: 56px;
      font-family: 'Inter-Medium';
      font-size: 16px;
  }
  
  .refer-programs-but a:hover {
    text-decoration: none;
  }
  
  .refer-programs-but a:before {
      position: absolute;
      right: 117px;
      top: 23px;
      content: '';
      background: url(../images/next-arr.png)left top no-repeat;
      width: 12px;
      height: 12px;
  }
  
  /*----------------------------*/
  
  .text-check input:checked + label:before {
    content: "";
  }
  
  .text-check label:before {
    content: "";
    display: flex;
    margin-right: 15px;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #54bcff;
    border-radius: 2px;
    font-size: 35px;
    margin-top: -1px;
  }
  
  .text-check input:checked + label:before {
    content: "";
    background: url(../images/check.png)2px 4px no-repeat #7CC8FF;
  }
  
  
  
  input#checkbox-id {
      display: none;
  }
  
  .text-check {
      display: flex;
      background: rgba(61, 64, 71, 0.5);
      border-radius: 8px;
      padding: 12px;
      margin: 0 0 20px;
  }
  
  
  .refer-prog-text.is {
      margin: 280px 0 30px 0;
  }
  
  
  .refer-programs-but.is a:before {
      background: none;
  }
  
  span.check-text span {
      color: #54BCFF;
  }
  
  span.check-text {
   
      font-size: 14px;
  }
  
  .refer-chose-is {
      position: relative;
      margin: 0 auto;
      width: 368px;
      background: #252525;
      padding: 25px 22px;
      border-radius: 16px;
      box-shadow: 0px 24px 35px rgba(23, 23, 23, 0.4);
  }
  
  section.refer-chose {
      margin: 0 auto 30px;
      width: 100%;
  }
  
  a.refer-chose-in {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px;
  }
  
  a.refer-chose-in:hover {
      text-decoration: none;
  }
  
  form.drop-serch.is  input[type="search"]{
      width: 100%;
  }
  
  .refer-chose-tit {
    font-family: 'Inter-Bold';
      font-size: 24px;
      margin: 0 0 20px;
  }
  
  .refer-chose-text {
      font-size: 14px;
      line-height: 18px;
      color: #8E8E93;
  }
  
  a.chuse-but {
      background: #54BCFF;
      border-radius: 6px;
      padding: 16px 20px;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 16px;
      margin: 0 0 5px;
  }
  
  a.chuse-but:hover {
      text-decoration: none;
      opacity: 0.9;
  }
  
  a.chose-wal {
      width: 100%;
      display: inline-block;
      background: url(../images/icons-top.svg) 95% center no-repeat rgba(44, 44, 46, 0.8);
      border-radius: 6px;
      padding: 11px 43px 12px 16px;
      font-family: 'Inter-Medium';
      font-size: 16px;
      margin: 25px 0 30px;
  }
  
  a.chose-wal:hover{
      text-decoration:none;
  }
  
  /*---------------*/
  
  .refer-right-text {
      display: flex;
      align-items: center;
      min-height: 119px;
      margin: 0 0 28px;
  }
  
  .dropdwn-tit-is {
  }
  
  .refer-num {
   
      font-style: normal;
      font-family: 'Inter-Bold';
      font-size: 64px;
      line-height: 77px;
      color: #16C8B2;
      margin: 10px;
  }
  
  .refer-num-text {
      font-family: 'Inter';
      font-style: normal;
     
      font-size: 14px;
  }
  
  .refer-drop-img {
      margin: 0 0 25px;
      width: 100%;
      text-align: right;
      height: auto;
  }
  
  /*-------------------------*/
  
  .refer-totl-is {
      width: 154px;
      background: rgba(61, 64, 71, 0.5);
      border-radius: 8px;
      padding: 8px 10px;
  }
  
  .refer-totl-bl {
      display: flex;
      justify-content: space-between;
      margin: 0 0 15px;
  }
  
  .totl-tit {
      font-family: 'Inter';
      font-style: normal;
  
      font-size: 12px;
      color: #AEAEB2;
  }
  
  .totl-text {
      font-style: normal;
      font-family: 'Inter-Bold';
      font-size: 24px;
      color: #16C8B2;
  }
  
  .refer-get-bl {
      display: flex;
      justify-content: space-between;
      font-family: 'Inter';
      font-style: normal;

      font-size: 14px;
      color: #8E8E93;
      margin: 0;
      border-bottom: 1px solid rgba(61, 64, 71, 0.5);
      padding: 17px 0px;
  }
  
  .refer-get-bl:first-child{
      margin: 0 0 35px;
  }
  
  a.chuse-but.is {
      margin: 35px 0 20px;
  }
  
  a.back {
      font-family: 'Inter';
      font-style: normal;
      font-family: 'Inter-Medium';
      font-size: 16px;
      text-align: center;
      display: block;
      color: #54BCFF;
  }
  
  .get-text span {
      color: #fff;
  }
  
  /*----------------------*/
  
  .alert-bl {
      position: relative;
      margin: 40px auto;
      width: 368px;
      background: #252525;
      padding: 25px 20px;
      border-radius: 16px;
      box-shadow: 0px 24px 35px rgb(23 23 23 / 40%);
  }
  
  /* .alert-bl:before {
      position: absolute;
      left: 2px;
      top: -25px;
      content: 'alert';
      color: #8E8E93;
      font-size: 12px;
  }
   */
  .alert-tit {
    font-family: 'Inter-Bold';
    font-size: 24px;
    text-align: center;
    background: url(../images/alert-bg.png) 29% 100% no-repeat;
    margin: 0 0 12px;
  }
  
  .alert-text {
      font-family: arial;
      font-size: 13px;
      text-align: center;
      margin: 0 0 25px;
  }
  
  a.alert-but {
      background: #54BCFF;
      border-radius: 6px;
      padding: 10px 20px;
      width: 100%;
      display: block;
      text-align: center;
      font-family: 'Inter-Medium';
      font-size: 20px;
      margin: 0 0 5px;
  }
  
  a.alert-but:hover {
      text-decoration: none;
      opacity: 0.9;
  }
  
  /*---------------------------*/
  
  .referal-servis-is {
      position: relative;
      margin: 40px auto;
      width: 368px;
      background: #252525;
      padding: 25px 17px;
      border-radius: 16px;
      box-shadow: 0px 24px 35px rgb(23 23 23 / 40%);
  }
  
  span.servis-tit-is {
      font-family: 'Inter-Bold';
      font-style: normal;
      font-size: 20px;
      margin: 0 0 0 5px;
      display: inline-block;
  }
  
  .servis-text {
      font-family: 'Inter';
      font-style: normal;
     
      font-size: 14px;
      color: #D1D1D6;
      margin: 0 0 15px;
  }
  
  .servis-tether {
      background: rgba(44, 44, 46, 0.8);
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 7px 10px;
  }
  
  .tether-img {
      margin: 0px 10px 0px 0;
  }
  
  .tether-tit {
      font-style: normal;
      font-family: 'Inter-Medium';
      font-size: 14px;
  }
  
  .tether-text-is {
      font-family: 'Inter';
      font-style: normal;
     
      font-size: 12px;
      color: #77797D;
  }
  
  
  .tether-get-bls {
      display: flex;
      justify-content: space-between;
      font-family: 'Inter';
      font-style: normal;

      font-size: 14px;
      color: #8E8E93;
      margin: 0;
      border-bottom: 1px solid rgba(61, 64, 71, 0.5);
      padding: 17px 0px;
  }
  
  .tether-texts span {
      font-family: 'Inter';
      font-style: normal;
     
      font-size: 12px;
      color: #D1D1D6;
      display: inline-block;
      margin: 0 10px 0 0;
  }
  
  .tether-texts {
      font-family: 'Inter';
      font-style: normal;
      font-size: 12px;
      color: #77797D;
  }
  
  a.tether-but {
      background: #54BCFF;
      border-radius: 6px;
      padding: 10px 20px;
      width: 100%;
      display: block;
      text-align: center;
      font-family: 'Inter-Medium';
      font-size: 19px;
      margin: 25px 0 0;
  }
  
  a.tether-but:hover {
      text-decoration: none;
      opacity: 0.9;
  }
  
  .servis-tit {
      display: flex;
      align-items: center;
      margin: 0 0 15px;
  }
  
  span.servis-img {
      margin: 3px 2px 0 2px;
  }
  
  .refer-programs-but a:hover {
    opacity: 0.9;
  }
  
  /*----------modul--------------*/
  
  .modul-1 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:30px 0;
      background: #00000073;
  }
  
  .close {
      position: relative;
  }
  
  .close:before {
      position: absolute;
      right: 20px;
      top: 20px;
      content: '+';
      width: 20px;
      height: 20px;
      font-size: 37px;
      transform: rotate(137deg);
      cursor: pointer;
      z-index: 999999;
  }
  
  .modul-2 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:30px 0;
      background: #00000073;
  }
  
  .modul-3 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:30px 0;
      background: #00000073;
  }
  
  .modul-4 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:30px 0;
      background: #00000073;
  }
  
  .modul-5 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:30px 0 400px;
      background: #00000073;
  }
  
  .modul-6 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:60px 0 400px;
      background: #00000073;
  }
  
  .modul-7 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:60px 0 60px;
      background: #00000073;
  }
  
  .modul-8 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; 
      align-items: center;
      z-index: 99999;
      display: none;
      padding:60px 0 60px;
      background: #00000073;
  }
  
  .modul-9 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; 
      align-items: center;
      z-index: 99999;
      display: none;
      padding:60px 0 60px;
      background: #00000073;
  }
  
  .modul-10 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; 
      align-items: center;
      z-index: 99999;
      display: none;
      padding:60px 0 60px;
      background: #00000073;
  }

   .modul-11 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      z-index: 99999;
      display: none;
      padding:60px 0 60px;
      background: #00000073;
  }
  
  .top-menu a {
      background: #54BCFF;
      border-radius: 6px;
      padding: 10px 23px;
      font-family: 'Inter';
      margin: 5px;
      cursor: pointer;
  }
  
  .top-menu {
      margin: 50px 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  
  .top-menu a:hover {
      opacity: 0.9;
  }
  
  /*SELECT-SOCIAL*/
  
  .search-select {
    width: 407px;
    position: relative;
    background: rgba(44, 44, 46, 0.8);
    border-radius: 6px;
    cursor: pointer;
  }
  
  .search-select .icon:after {
    font-style: normal;
    color: #a79b97;
    font-size: 20px;
    top: -3px;
    position: relative;
    left: 0px;
    opacity: 1;
    float: left;
  }
  .search-select .icon.user:after {
    content: "";
    width: 26px;
    height: 26px;
    background: url(../images/vk.png) 0 0 no-repeat;
  }
  .search-select .icon.list:after {
    content: "";
    width: 48px;
    height: 42px;
    background: url(../images/coin.png)left top no-repeat;
    margin: 0 0 0 0;
  }
  .search-select .icon.stat:after {
    content: "";
    background: url(../images/ws.png) 0 0 no-repeat;
    margin: 0 0 0 0;
    width: 26px;
    height: 26px;
  }
  .search-select .icon.accs:after {
    content: "";
    background: url(../images/ins.png) 0 0 no-repeat;
   margin: 0 0 0 0;
    width: 26px;
    height: 26px;
  }
  .search-select .icon.sign:after {
    content: "";
    background: url(../images/mail.png) 0 0 no-repeat;
    margin: 0 0 0 0;
    width: 26px;
    height: 26px;
  }
  .search-select .icon.arrow:after {
    content: "";
  }
  
  input#opened {
      display: none;
  }
  
  .search-select ul.select li span {
    margin: 5px 0 0 0;
  }
  
  .search-select input:checked + .select {
    opacity: 1;
    top: 66px;
    border-top: none;
    left: 0;
    width: 100%;
    z-index: 11;
    padding: 10px;
  }
  .search-select ul.select {
    -moz-transition-property: opacity, top;
    -o-transition-property: opacity, top;
    -webkit-transition-property: opacity, top;
    transition-property: opacity, top;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    list-style: none;
    padding: 0;
    background: #3E3E42;
    box-shadow: 0px 24px 35px rgb(23 23 23 / 40%);
    border-radius: 16px;
    margin: 0;
    border-radius: 7px;
    position: absolute;
    top: 65px;
    left: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  .search-select ul.select li {
    z-index: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    margin: 0 0 5px;
  }
  .search-select ul.select li.arrow {
    display: flex;
    position: absolute;
    top: -20px;
    left: 270px;
    width: 20px;
    height: 20px;
    z-index: 0;
    border: none;
  }
  .search-select ul.select li.arrow:after {
    font-size: 40px;
    opacity: 1;
  }
  .search-select ul.select li:nth-child(2) {
  }
  .search-select ul.select li:last-child {
    border-radius: 0 0 4px 4px;
  }
  .search-select ul.select li:not(.icon):hover {
  }
  .search-select ul.select li:not(.icon):hover i:after {
    color: white;
  }
  .search-select ul.select li:last-child {
    border: none;
  }
  .search-select ul.select li i:after {
    color: #c0b7b4;
  }
  
  a.drop {
      display: flex;
      justify-content: space-between;
  }
  .search-select label {
    padding: 12px 14px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }
  
  .search-select .field {
    position: relative;
  }
  
  label.seltext a.drop span.drop-tit:before{
      position: absolute;
      right: -42px;
      top: 20px;
      content: '';
      background: url(../images/arrow.png)right top no-repeat;
      width: 20px;
      height: 20px;
  }
  
  label.seltext.active a.drop span.drop-tit:before{
      position: absolute;
      right: -42px;
      top: 20px;
      content: '';
      background: url(../images/arrow-t.png)right top no-repeat;
      width: 20px;
      height: 20px;
  }
  
  input#openeds {
      display: none;
  }
  
  .closes {
      position: absolute;
      right: 20px;
      top: 25px;
      content: '';
      background: url(../images/close.png)left top no-repeat;
      width: 16px;
      height: 16px;
      cursor: pointer;
  }

i.icon.list {
    display: none;
}

.get-text {
    color: #AEAEB2;
}
  
.get-tit {
    opacity: 0.5;
}
  
  
  
  
  
  
  
  
  
  
