




@media screen and (max-width: 1366px) {

}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {

}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {

  
}

/* стили для sm-устройств */
@media screen and (max-width: 824px) {

.search-select {
    margin: 0 auto 15px;
    width: 95%;
}

section.refer-bl {
    margin: 40px auto 10px;
    width: auto;
}

.refer-drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 25px;
}

a.js-dropdown__toggle.js-dropdown__icon.btns-default {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.refer-drop-right {
    margin: 0 0 10px;
}
  
}


/* Ipad*/ 
@media screen and (max-width: 798px) {

section.refer-programs{
    width: 95%;
    height: auto;
    background-size: contain;
    margin: 0 auto;
    padding: 40px 50px;
}

.refer-prog-text {
    margin: 10px 0 30px 0;
}

.refer-prog-text.is {
    margin: 0;
}

}


/* Ipad mini*/ 
@media screen and (max-width: 796px) {

section.refer-programs {
    background: url(../images/frame-m.png)left top no-repeat;
    padding: 10px;
    width: 360px;
    min-height: 784px;
    background-size: inherit;
    margin: 0 auto 91px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.agree-bl {
    display: flex;
    align-items: end;
    margin: 140% 0 0;
}

.refer-programs-but a {
    margin: 0 0 25px;
}   

}

@media screen and (max-width: 580px) {

    .refer-bot a {
        background: rgba(61, 64, 71, 0.5);
backdrop-filter: blur(16px);
color: #54BCFF;
    }

a.js-dropdown__toggle.js-dropdown__icon.btns-default {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.rewords-text  {
    display: none;
}

span.usd-tit {
    font-size: 14px;
    /* line-height: 18px; */
    margin: 0px 0 0 0;
}

.rewords-tit {
    width: 270px;
    position: relative;
    font-style: normal;
    font-family: 'Inter-Medium';
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    padding: 7px 0 0 60px;
    margin: 0 auto 10px;
    background: url(../images/ist-1.svg)left top no-repeat;
}

.rewords-text br {
    display: none;
}


}

/* Galaxy S8+*/ 
@media screen and (max-width: 580px) {

.refer-tit-is{
    margin: 0 0 0 0;
    font-size: 16px;
}

.search-select{
    width: auto;
}

a.refer-araw-back {
    top:5px;
}
  
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {

a.js-dropdown__toggle.js-dropdown__icon.btns-default {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.refer-chose-is {
    width: 100%;
}

.alert-bl {
    width: 100%;
}

.referal-servis-is {
    width: 100%;
}

.refer-bot a{
    width: 100%;
}

.refer-linck a{
    width:auto;
}

.refer-programs-but a{
    width: 100%;
}

.refer-tit {
    display: flex;
    align-items: center;
    margin: 0 0 25px;
    padding: 0 0 0 10px;
    /* justify-content: center; */
}
  
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {

section.refer-programs{
    width: 100%;
}

}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}